@(username: String)(login: String)

@main("UPS Music Theory") {

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="main.css" rel = "stylesheet" media="screen" type = "text/css">
<title>20th Century Chords</title>
<script type="text/javascript">
function check() {
	var f = document.getElementById('formid');
	var s = document.getElementById('selectid');
	if( s.selectedIndex == 1 ) { 
		location.href = s.options[1].value;
	}
	if( s.selectedIndex == 2 ) { 
		location.href = s.options[2].value;
	}
	if( s.selectedIndex == 3 ) { 
		location.href = s.options[3].value;
	}
		if( s.selectedIndex == 4 ) { 
	location.href = s.options[4].value;
	}
		if( s.selectedIndex == 5 ) { 
	location.href = s.options[5].value;
	}
		if( s.selectedIndex == 6 ) { 
	location.href = s.options[6].value;
	}
}
</script>
<script type="text/javascript">
function tester() {
	var g = document.getElementById('test');
	var d = document.getElementById('testID');
	if( d.selectedIndex == 1 ) { 
		location.href = d.options[1].value;
	}
	if( d.selectedIndex == 2 ) { 
		location.href = d.options[2].value;
	}
	if( d.selectedIndex == 3 ) { 
		location.href = d.options[3].value;
	}
	if( d.selectedIndex == 4 ) { 
		location.href = d.options[4].value;
	}
}
</script>
</head>
<body>

<div class="container">
  <div class="header" align = "center"><a href="#"><img src="@routes.Assets.at("images/ups_logo2.jpg")" name="UPS_logo" width="600" height="130" id="UPS_logo" 
  style="background-color: #C6D580; display:block;" /></a>
  <font size = "2" color="white">@username <a href = "/logout"><font color ="white">@login</font></a></font>
    <!-- end .header --></div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="@routes.Application.index()">Home</a></li>
      <li><a href="@routes.Application.login()">Log In/Register</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="@routes.Application.resources()">Resources</a> </li>
      <li><a href="@routes.Application.about()">About Us</a></li>
    </ul>
    <h2 align="center" id="myTitle"><font size = "3">Terms of Use</font></h2> 
    <p>By using this website, you agree to our terms of use.
      </p>
    </p>
    <p>All content on this website is under copyright law and may not be used without permission.    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- end .sidebar1 --></p>
  </div>
  <div class="content">
    
  </div>
<div id="middlebox">

<h3> Jazz Theory</h3>
<form id="formid">
  <p>
    <label for="jazztheory"><img src="@routes.Assets.at("images/Dizzy-Gillespie.jpg")" alt="" name="jazztheory" width="200" height="100" id="jazztheory" style="background-color: #FFFFFF" /></label>
    <select id="selectid" onchange="check()">
      <option value= "http://www.blizzard.com">Please Select an Exercise or Test</option>
      <option value="@routes.Application.auralJazzScales()">Aural Scales Exercises</option>
      <option value="@routes.Application.auralJazzChords()">Aural Chords Exercises</option>
      <option value="@routes.Application.about()">Written Scale Exercises</option>
      <option value="@routes.Application.about()">Written Chord Exercises</option>
      <option value="@routes.Application.auralJazzScalesTest()"> Aural Scales Test</option>
      <option value="@routes.Application.auralJazzChordsTest()"> Aural Chords Test</option>
    </select>
  </p>
</form>
<form id="test">
   <h3>Twentieth-Century Music Theory</h3>
   <p><img src="@routes.Assets.at("images/petrushka_chord.png")" alt="" name="twentiethcenturychords" width="200" height="100" id="jazztheory2" style="background-color: #FFFFFF" />
     <select id="testID" onchange="tester()">
     <option>Please Select an Exercise or Test</option>
     <option value="@routes.Application.aural20thCchords()">Aural Chords Exercises</option>
     <option value="@routes.Application.aural20thCchordsTest()">Aural Chords Test</option>
     </select>
   </p>
   </form>
<form id="form3" name = "form3" method="post" action="">
<h3>Aural Dictation</h3>
<p><img src="@routes.Assets.at("images/contrapuntaldictation.GIF")" alt="" name="contrapuntaldictation" width="200" height="100" id="jazztheory3" style="background-color: #FFFFFF" />
  <select name="jazzthreory3" id="jazzthreory3">
    <option>Contrapuntal Dictation</option>
  </select>
  <input type="submit" name="jazzsubmit3" id="contrapuntalsubmit" value="Let's Go!" />
</p>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
  <div class="footer"><center>If you have any concerns or questions, please contact us <a href="#">here</a></center>
    <h1><center>
  </center>
  </h1>
    <!-- end .footer --></div>
<!-- end .container --></div>
</body>
</html>
}